@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

$font: #222;

* {
  margin: 0;
  padding: 0;
}

body{
  overflow: hidden;
  font-family: 'Libre Baskerville';
  user-select: none;
}