@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

$font: #222;

* {
  margin: 0;
  padding: 0;
}

body{
  overflow: hidden;
  font-family: 'Libre Baskerville';
  user-select: none;
}

/* HERO BACKGROUND */
.background {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(32, 5vw);
  grid-template-rows: repeat(32, 5vh);
  &-red{
    background: #da3b35;
    grid-area: 1 / 1 / 17 / 17;
  }
  &-beige {
    background: #F8D05D;
    grid-area: 1 / 17 / 19 / 21;
    display: flex;
    justify-content: right;
    & h5 {
      padding: 0.5rem;
      writing-mode: sideways-lr;
      align-self: center;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        top: -80%;
        right: 50%;
        height: 100px;
        width: 2px;
        background: $font;
      }
    }
  }
  &-black {
    background: #302d29;
    grid-area: 19 / 15 / 21 / 21;
    & .social-links{
      display: flex;
      height: 100%;
      font-size: 1rem;
      color: #fff;
      width: 50%;
      justify-content: space-evenly;
      align-items: center;
      & i {
        cursor: pointer;
      }
    }
  }
  &-cian {
    background: #1bdde6;
    grid-area: 17 / 1 / 21 / 15;
  }
  &-blue {
    background: #4600f1;
    grid-area: 17 / 15 / 19 / 17;
  }
}

/* HERO TEXT */
.context {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3rem 5rem;
  mix-blend-mode: color-burn;
  &-title{
    height: 9rem;
    overflow: hidden;
    color: $font;
    font-size: 4.5rem;
  }

  &-brief{
    color: $font;
    font-size: 1.4rem;
    width: 70%;
    padding: 2rem 1rem;
  }
}

/* BUTTON EFFECT */
.btn {
  cursor: pointer;
  margin: 2rem;
  font-size: 1.3rem;
  line-height: 3rem;
  padding: 0rem 2rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
  }
}

.effect04 {
  display: inline-flex;
  color: $font;
  outline: solid 1px $font;
  position: relative;
  transition-duration: 0.4s;
  overflow: hidden;
  &::before,
  & span {
    margin: 0 auto;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
    transition-duration: 0.4s;
  }
  
  &:hover{
    background-color: $font;
    & span{
      transform: translateY(-400%) scale(-0.1,20);
    }
  }

  &::before{
    content: attr(data-sm-link-text);
    color: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(500%) scale(-0.1,20);
  }

  &:hover::before{
    letter-spacing: 0.05em;
    transform: translateY(0) translateX(30%) scale(1,1);
  }
}