.coll-cards{
    padding: 1.2rem 1.5rem;
    background: #f3f3f3;
    transition: 300ms;
    margin: 1rem;
    height: 6.5rem;
    min-width: 8rem;
    position: relative;
    &:hover{
        cursor: pointer;
        transform: translateY(-5px);
        box-shadow: 6px 6px #cccccc, 12px 12px #b3b3b3;
    }

    &__name{
        text-align: center;
        font-size: 1.2rem;
        font-family: 'Libre Baskerville';
    }

    &__site{
        font-size: 0.8rem;
        position: absolute;
        bottom: 30%;
        color: crimson;
    }

    &__num {
        color: gray;
        position: absolute;
        bottom: 10%;
        font-size: 0.8rem;
    }
}