.flex{
    display: flex;
    flex-direction: row;
    font-family: "Poppins";
}

.nav{
    width: 30vw;
    height: 100vh;
    background: crimson;
}

.coll {
    width: 70vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 5rem;

    & .add-card{
        padding: 2rem;
        background: #f3f3f3;
        font-size: 3rem;
        box-shadow: 6px 6px #cccccc, 12px 12px #b3b3b3;

        & p {
            font-size: 1.2rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        & form{
            display: flex;
            flex-direction: column;
            width: 18rem;
        }
    }
}