.flex{
    display: flex;
    flex-direction: row;
    font-family: "Poppins";
}

.nav{
    width: 30vw;
    height: 100vh;
    background: crimson;
}

.coll {
    width: 70vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 5rem;

    &-cards{
        padding: 2rem;
        background: #f3f3f3;
        transition: 300ms;
        margin: 1rem;
        &:hover{
            cursor: pointer;
            transform: translateY(-5px);
            box-shadow: 5px 5px #cccccc, 10px 10px #b3b3b3;
        }

        &__name{
            text-align: center;
            font-size: 1.5rem;
            font-weight: bold;
        }

        &__site{
            font-size: 0.8rem;
            color: crimson;
        }

        &__num {
            color: gray;
            padding: 1rem 0;
            font-size: 0.8rem;
        }
    }
}