.flex{
    display: flex;
    flex-direction: row;
    font-family: "Poppins";
}

.nav{
    width: 25vw;
    height: 100vh;
    background: crimson;
}

.coll {
    width: 75vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    &-cards{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 1.5rem;
        width: 100%;
        background: #f3f3f3;
        border-bottom-left-radius: 2rem;
        transition: 200ms;
        &:hover{
            cursor: pointer;
            background: #222;
            color: #fff;
        }
    }
}