.add-card{
    padding: 2rem;
    background: #f3f3f3;
    font-size: 3rem;
    margin: 0 2rem;
    width: 18rem;
    height: 1.5rem;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    box-shadow: 1px 1px 5px #302d29, 6px 6px #1bdde6,
                7px 7px 2px #302d29, 12px 12px #da3b35;

    & p {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    & .navigate{
      float: right;
      cursor: pointer;
      font-size: 1.5rem;
      transition: 300ms;
    }

    & form{
        display: none;
        flex-direction: column;
    }
}

.add-enter{
  height: 1.5rem;
}
.add-enter-active{
  height: 18rem;
  transition: all 300ms ease-in;
}
.add-enter-done{
  height: 18rem;
}
.add-exit{
  height: 18rem;
}
.add-exit-active{
  height: 1.5rem;
  transition: height 300ms ease-in 300ms;
}
.add-exit-done{
  height: 1.5rem;
}

.form-enter-done{
  display: flex !important;
}
.form-exit-done{
  display: none;
}